# Clerk (Authentication)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up

# Neon (PostgreSQL)
DATABASE_URL=

# UploadThing (File Uploads)
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Resend (Email)
RESEND_API_KEY=
ADMIN_EMAIL=admin@litustaste.com

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
